* {
  all: unset;
}

* {
  font-family: 'CaskaydiaCove Nerd Font', 'CaskaydiaMono Nerd Font', monospace;
  font-size: 16px;
  color: #cdd6f4;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: #000000;
  padding: 20px;
  border: 2px solid #cba6f7;
  border-radius: 12px;
}

.preview-box {
}

.box {
}

.search-container {
  background: #000000;
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
  background: #313244;
  border-radius: 8px;
}

child:selected .item-box * {
  color: #cba6f7;
  font-weight: bold;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: #000000;
  padding: 10px;
  margin-top: 10px;
}

.preview {
}
