@import "../romarchy/current/theme/swayosd.css";

window#osd {
  border-radius: 10px;
  opacity: 0.97;
  border: 2px solid @border-color;
  background-color: @background-color;
}

window#osd label {
  font-size: 11pt;
  color: @label;
}

window#osd image {
  min-width: 20px;
  min-height: 20px;
  color: @image;
}

window#osd progressbar {
  border-radius: 0;
}

window#osd progress {
  background-color: @progress;
}